:root {
  --max-width: 1400px;
  --font-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

a {
  color: var(--font-color);
  text-decoration: none;
} 


/* .container {
  width: var(--max-width);
} */