.main {
  position: relative;
  background-color: #000;
}
.container {
  max-width: var(--max-width);
  margin: auto;
}

.section {
  text-align: center;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionOne {
  background-image: url("../assets/images/1.jpg");
  width: 100vw;
  height: 100vh;
  display: block;
}

.sectionTwo {
  background-image: url("../assets/images/2.webp");
  width: 100vw;
  height: 100vh;
  display: block;
}

.sectionThree {
  background-image: url("../assets/images/3.webp");
  width: 100vw;
  height: 100vh;
  display: block;
}

.innerLeftBottom {
  position: absolute;
  bottom: 15%;
  width: 520px;
  /* left: 50px; */
  text-align: left;
  color: var(--font-color);
  margin-left: 50px;
}

.innerLeftBottom h4{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.innerLeftBottom h2{
  font-size: 3.3rem;
  text-transform: uppercase;
  max-width: 90%;
  line-height: 48px;
  margin-left: 0;
  font-weight: 900;
  text-shadow: 0 0 2px #555;
}

.buttonCtr{
  margin-top: 30px;
}

.footer{
  background-color: #000;
}